.headings {
  color: #333333;
}

.content {
  color: #333333;
}

.subcontent {
  color: #e5c100;
}

{
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  color: #333333;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #e5c100;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #f1f1f1;
  color: #333333;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right columns */
.column.side {
  width: 25%;
  background-color: #f1f1f1;
}

/* Middle column */
.column.middle {
  width: 50%;
  background-color: #f1f1f1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* Style the footer */
.footer {
  background-color: #333333;
  padding: 10px;
  text-align: center;
  color: #e5c100;
}

/* Tables */
table {
		border-collapse: collapse;
		width: 50%;
	}
	
	td, th {
		border: 1px solid #B0B0B0;
		text-align: left;
		padding: 8px;
	}
	
	tr {
		background-color: #DDF2FF;
	}
	
	.alltr:nth-child(even) {
		background-color: #E2FBFF;
	}
