body {background-color:#eeeeee}
h1 {background-color:#F69696; color:white}
.first {background-color:white; color:#606060}
.second {background-color:#606060; color:white}

.navigation {
		border-collapse: collapse;
		width: 50%;
	}
	
	.navtd, .navth {
		border: 1px solid #B0B0B0;
		text-align: left;
		padding: 8px;
	}
	
	.navtr {
		background-color: #DDF2FF;
	}
	
	.navtr:nth-child(even) {
		background-color: #E2FBFF;
	}




table {
		border-collapse: collapse;
		width: 50%;
	}
	
	td, th {
		border: 1px solid #B0B0B0;
		text-align: left;
		padding: 8px;
	}
	
	tr {
		background-color: #DDF2FF;
	}
	
	tr:nth-child(even) {
		background-color: #E2FBFF;
	}
